{% load static %}


<button class="sidebar-toggle" id="sidebarToggle">
<i class="fas fa-bars"></i>
</button>



<aside class="sidebar" id="sidebar">


<div class="sidebar-logo-box">


<img src="{% static 'images/logo.png' %}"
class="sidebar-logo">


<h3>
Online Tutoring
</h3>


</div>



{% if user.is_authenticated %}




{% endif %}





<ul class="sidebar-menu">


<li>
<a href="{% url 'dashboard:home' %}">
<i class="fa fa-home"></i>
Dashboard
</a>
</li>



<li>
<a href="{% url 'courses:course_list' %}">
<i class="fa fa-book"></i>
Courses
</a>
</li>



<li>
<a href="{% url 'courses:my_courses' %}">
<i class="fa fa-graduation-cap"></i>
My Courses
</a>
</li>



<li>
<a href="{% url 'certificates:certificate_list' %}">
<i class="fa fa-certificate"></i>
Certificates
</a>
</li>

<li>
<a href="{% url 'accounts:home' %}">
<i class="fa fa-home"></i>
home
</a>
</li>


<li>
<a href="{% url 'accounts:register' %}">
<i class="fa fa-register"></i>
Register
</a>
</li>


<li>
<a href="{% url 'accounts:login' %}">
<i class="fa fa-login"></i>
login
</a>
</li>

<li>
<a href="{% url 'accounts:edit_profile' %}">
<i class="fa fa-edit-profile"></i>
edit profile 
</a>
</li>


<li>
<a href="{% url 'accounts:forgot_password' %}">
<i class="fa fa-forgot-password"></i>
forgot password
</a>
</li>


<li>
<a href="{% url 'accounts:password_reset_done' %}">
<i class="fa fa-reset-password-done"></i>
reset password 
</a>
</li>





<li>
<a href="{% url 'accounts:password_reset_complete' %}">
<i class="fa fa-password_reset_complete"></i>
password_reset_complete
</a>
</li>


<li>
<a href="{% url 'accounts:login' %}">
<i class="fa fa-login"></i>
login
</a>
</li>


<li>
<a href="{% url 'accounts:login' %}">
<i class="fa fa-login"></i>
login
</a>
</li>


<li>
<a href="{% url 'accounts:login' %}">
<i class="fa fa-login"></i>
login
</a>
</li>


<li>
<a href="{% url 'accounts:login' %}">
<i class="fa fa-login"></i>
login
</a>
</li>


<li>
<a href="{% url 'accounts:profile' %}">
<i class="fa fa-user"></i>
Profile
</a>
</li>



<li>
<a href="{% url 'accounts:logout' %}">
<i class="fa fa-sign-out"></i>
Logout
</a>
</li>



</ul>



</aside>